[submodule "external_libs/imgui"]
	path = external_libs/imgui
	url = https://github.com/AlexanderBrevig/imgui
	branch = sfml
[submodule "external_libs/SFML"]
	path = external_libs/SFML
	url = https://github.com/AlexanderBrevig/SFML
[submodule "external_libs/imgui-sfml"]
	path = external_libs/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml
[submodule "external_libs/fmt"]
	path = external_libs/fmt
	url = https://github.com/fmtlib/fmt
